.signupWrapper{
    display: flex;
    justify-content: center;
}
 .signupCard{
    width: 27vw;
    margin-top: 5%;

} 
.insta-logo{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}
.insta-logo img{
    width: 20vw;
}
@media only screen and (max-widht:620px){
    .signupCard{
        width: 60%;
    }
    
} 